<!DOCTYPE html>
<html lang="fr">
<head>
    <% include partials/head %>

</head>
<body id="res" data-barba="wrapper">
<header>
    <div class="transition__wipe"></div>
</header>
<main id="contact-content" data-barba="container" data-barba-namespace="contact">
    <section>
            <div class="contact-con">
                <h2>Contact</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusamus aperiam architecto, est ipsa modi non quam totam.
                    Consequuntur delectus, dolorum ea earum enim eum illum maxime reprehenderit velit.
                    Commodi, quod.</p>
                <a href="/">baack</a>
            </div>
    </section>
    <section>
        <div class="phone-dt">
            <div class="phone-border-top"></div>
            <div class="screen" style="display: none">
                <div id="timeline-insta"  style="display: none">
                    <% for (var key in insta) { %>
                            <div class="card-insta">
                                <div class="insta-header">
                                    <img   src="<%= insta[key].user.profile_picture%>"  alt="">
                                    <div class="user">
                                        <p><%=insta[key].user.username%></p>

                                        <div class="location">
                                            <%if (insta[key].location != null) { %>
                                            <%=insta[key].location.name%>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="insta-content">
                                    <img   src="<%= insta[key].images.standard_resolution.url%>"  alt="">
                                </div>
                                <div class="insta-footer">
                                    <p> <%= insta[key].likes.count%>  ❤️</p>
                                    <div class="tag">
                                        <p><%=insta[key].user.username%> <span> <%=insta[key].caption.text%></span></p>
                                    </div>
                                </div>
                            </div>
                    <% } %>
                </div>
                <div id="timeline" style="display: none">
                    <div class="wid">
                        <a href="https://twitter.com/djo_972?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-dnt="true" data-show-count="false">Follow @djo_972</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    <a class="twitter-timeline" data-lang="fr" data-height="201202" data-theme="dark" data-link-color="#9266CC" href="https://twitter.com/djo_972/lists/web?ref_src=twsrc%5Etfw">A Twitter List by djo_972</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="contact">
                    <div class="load gmail" style="display: none">
                        <% include partials/loading %>
                    </div>
                    <form  style="display: block" action="/cntact" id="contact-form" method="post" role="form">
                        <div class="toolbar-form">
                                <p>Nouveau message</p>
                            <button><i class="material-icons">attachment</i></button>
                            <button id="select_link"  type="submit"><i class="material-icons">send</i></button>

                        </div>
                        <fieldset>
                            <div class="form-group">
                                <label for="email">De</label>
                                <input
                                        id="mail"
                                        name="mail"
                                        type="text"
                                        placeholder="Your email"
                                        value="tidjol@gmail.com"
                                        required>
                            </div>
                            <div class="form-group">
                                <label for="email">À</label>
                                <input id="mail" name="mail" type="text" placeholder="Your email" value="tidjol@gmail.com" required>
                            </div>
                            <div class="form-group">
                                <label for="">Objet</label>
                                <input type="text" value="Say hello ! :D">
                            </div>
                                <textarea id="msg" name="msg" placeholder="Rédigez votre message" rows="3"  required></textarea>




                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="screen">

                <!--
                        //	skills
                        ///////////////////////////////////-->
                <div class="page__style skills">
                    <div class="page__description">
                        <div id="timeline" >
                            <div class="wid">
                                <a href="https://twitter.com/djo_972?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-dnt="true" data-show-count="false">Follow @djo_972</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>

                            <a class="twitter-timeline" data-lang="fr" data-height="201202" data-theme="dark" data-link-color="#9266CC" href="https://twitter.com/djo_972/lists/web?ref_src=twsrc%5Etfw">A Twitter List by djo_972</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
                <div class="page__style about">
                    <div class="page__description">
                        <div class="contact">
                            <div class="loadin gmail" >
                                <% include partials/loading %>
                            </div>
                            <form  action="/cntact" id="contact-form" method="post" role="form">
                                <div class="toolbar-form">
                                    <p>Nouveau message</p>
                                    <button><i class="material-icons">attachment</i></button>
                                    <button id="select_link"  type="submit"><i class="material-icons">send</i></button>

                                </div>
                                <fieldset>
                                    <div class="form-group">
                                        <label for="email">De</label>
                                        <input
                                                id="mail"
                                                name="mail"
                                                type="text"
                                                placeholder="Your email"
                                                value="tidjol@gmail.com"
                                                required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">À</label>
                                        <input id="mail" name="mail" type="text" placeholder="Your email" value="tidjol@gmail.com" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Objet</label>
                                        <input type="text" value="Say hello ! :D">
                                    </div>
                                    <textarea id="msg" name="msg" placeholder="Rédigez votre message" rows="3"  required></textarea>




                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <!--
                        //	home
                        ///////////////////////////////////-->
                <div class="page__style home">
                    <div class="page__description">
                        <div id="home">

                            <div class="box"></div>

                            <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="fr_FR" data-type="horizontal" data-theme="dark" data-vanity="giovanny-pied"><a class="LI-simple-link" href='https://fr.linkedin.com/in/giovanny-pied?trk=profile-badge'>Giovanny Pied</a></div>

                        </div>
                    </div>
                </div>
                <div class="page__style projects">
                    <div class="page__description">
                        <div id="timeline-insta" >
                            <% for (var key in insta) { %>
                                <div class="card-insta">
                                    <div class="insta-header">
                                        <img   src="<%= insta[key].user.profile_picture%>"  alt="">
                                        <div class="user">
                                            <p><%=insta[key].user.username%></p>

                                            <div class="location">
                                                <%if (insta[key].location != null) { %>
                                                <%=insta[key].location.name%>
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="insta-content">
                                        <img   src="<%= insta[key].images.standard_resolution.url%>"  alt="">
                                    </div>
                                    <div class="insta-footer">
                                        <p> <%= insta[key].likes.count%>  ❤️</p>
                                        <div class="tag">
                                            <p><%=insta[key].user.username%> <span> <%=insta[key].caption.text%></span></p>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="phone-border-bottom">
                <div class="social-buttons">
                    <div   class="social-buttons__button social-button social-button--instagram  projects_link actived" aria-label="instagram">
                  <span class="social-button__inner">
                     <i class="fab fa-instagram"></i>
                  </span>
                    </div>

                    <div   class="social-buttons__button social-button social-button--twitter  skills_link" aria-label="twitter">
                  <span class="social-button__inner">
                     <i class="fab fa-twitter"></i>
                  </span>
                    </div>
                    <div href="#" class="social-buttons__button social-button social-button--linkedin  home_link" aria-label="LinkedIn">
                    <span class="social-button__inner">
                    <i class="fab fa-linkedin-in"></i>
                    </span>
                    </div>
                    <div href="" class="social-buttons__button social-button social-button--mail  about_link" aria-label="contact">
                    <span class="social-button__inner">
                        <i class="far fa-envelope"></i>
                         </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="phone-dt" >
            <div class="phone-border-top">
                <div class="message-title">
                    <i class="material-icons">message</i>
                </div>
            </div>
            <div class="chatbubble">
                <div class="unexpanded">
                </div>
                <div class="expanded chat-window">

                    <div class="login-screen container">
                        <form id="loginScreenForm">

                            <div class="form-group">
                                <label for="fullname">mon nom est </label>
<!--                                <input type="text"  placeholder="votre nom"  class="form-control" id="fullname" value="djo" required>-->
                                <input type="text"  placeholder="votre nom"  class="form-control" id="fullname"  required>
                            </div>

                            <div class="form-group">
                                <label for="email">mon email est </label>
<!--                                <input type="email" placeholder="votre email"  class="form-control" id="email" value="tidjol972@gmail.com" required>-->
                                <input type="email" placeholder="votre email"  class="form-control" id="email"  required>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary">Start Chat</button>
                        </form>
                    </div>
                    <div class="chats">
                        <div class="loader-wrapper">
                            <div class="loader">
                                <span>{</span><span>}</span>
                            </div>
                        </div>
                        <ul class="messages clearfix">
                        </ul>
                        <div class="input">
                            <form class="form-inline" id="messageSupport">
                                <div class="form-group" style="position: relative">
                                    <input type="text" data-emojiable="true" autocomplete="off" class="form-control" id="newMessage" placeholder="Enter Message">
                                </div>
                                <button id="msg" type="submit" class="btn btn-primary"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="phone-border-bottom"></div>
        </div>
    </section>
    <footer>
        <p>© 2014 - pied Giovanny- code & design par moi.</p>
    </footer>
    <%include partials/script.ejs%>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
</main>
</body>
</html>